*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #ffffff;
    height: 100vh;
    width: auto;
}

.container{
    display: grid;
    place-items: center;
    margin: 1.7em 0;
}

.container h1{
    font-size: 1.7em;
    font-weight: 750;
}

.container p{
    color: #838383;
    font-size: 1em;
    font-weight: normal;
    margin: 1em 0;
}

.container span{
    color: crimson;
}

.form{
    margin: 1.3em 0;
}

.form input{
    background: #e6e6e6;
    text-align: center;
    font-weight: 580;
    width: 26em;
    height: 3em;
    margin: 0.2em 0;
    outline: 0;
    border: 0;
    border-radius: 5px;
}

.form textarea{
    text-align: center;
background: #e6e6e6;
   resize: none;
   width: 347px;
   outline: 0;
   border: 0;
   font-weight: 580;
   border-radius: 5px;
   padding: 1em 0;
}

.form .btnsend{
    width: 25em;
    height: 3em;
    margin: 1.1em 0;
    cursor: pointer;
}

.error-container{
   display: flex;
}

@media only screen and (max-width: 800px){
    .container{
        margin: 2.8em 0;
    }
    .form input{
        height: 3em;
        margin: 0.2em 1.1em;
    }
    .form textarea{
        margin: 0 1.1em;
    }
    .form .btnsend{
        margin: 0.2em 1.1em;    
    }
    .form .g-recaptcha{
        margin: 0 1.1em;
    }
    .error-container{
        margin: 0.5em 0.9em;
     }     
}